#ellipse-1-login {
	right: 24%;
	top: 26px;
	width: 302px;
	height: 302px;
	transform: rotate(-28.5deg);
	flex-shrink: 0;
}
#ellipse-2-login {
	width: 302px;
	flex-shrink: 0;
	width: 220px;
	height: 220px;
	bottom: -3px;
	right: 4%;
	background: linear-gradient(180deg, #300061 0%, #0a1030 100%);
}
#button-login {
	background: linear-gradient(119deg, #628eff 0%, #8740cd 53.13%, #580475 100%);
}
